*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto;
}

body{
background:#0f172a;
color:#fff;
}

header{
padding:20px;
font-size:22px;
font-weight:700;
text-align:center;
}

.container{
padding:15px;
padding-bottom:100px;
}

.cards{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:20px;
}

.card{
background:#1e293b;
padding:15px;
border-radius:16px;
box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.card h3{
font-size:14px;
color:#94a3b8;
}

.card p{
font-size:20px;
font-weight:bold;
margin-top:5px;
}

.green{color:#22c55e;}
.red{color:#ef4444;}

.section{display:none;}
.section.active{display:block;}

input,button,select{
padding:10px;
border-radius:10px;
border:none;
margin:5px 0;
width:100%;
}

input,select{
background:#334155;
color:#fff;
}

button{
background:#3b82f6;
color:white;
font-weight:bold;
cursor:pointer;
}

.product-card{
background:#1e293b;
padding:12px;
border-radius:12px;
margin-bottom:10px;
}

.small{
font-size:13px;
color:#94a3b8;
}

.fab{
position:fixed;
right:20px;
bottom:80px;
background:#22c55e;
width:55px;
height:55px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
color:#fff;
cursor:pointer;
box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
align-items:center;
justify-content:center;
padding:20px;
}

.modal-content{
background:#1e293b;
padding:20px;
border-radius:16px;
width:100%;
}

.close{
background:#ef4444;
margin-top:10px;
}

.tabs{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#1e293b;
display:flex;
justify-content:space-around;
padding:12px 0;
}

.tabs button{
background:none;
color:#94a3b8;
}

.tabs button.active{
color:#fff;
font-weight:bold;
  }
